

canvas{
    background: url('img/roadTexture.jpg') center left repeat-x;
    height: 100%;
    width: 100%;
    /* border-right: dashed 100px white; */
    box-sizing: border-box; 
    margin: 40px 0;
    border: 2px solid red;

}



div{border: 1px solid red;}


/* STARTLIGHT =========================================*/

.light {
    height: 85px;
    width : 85px;
    border-radius: 50%;
    opacity : 0.3;
}

.stop {
    background: url('img/light1.png');
    background-size: 81px 81px;
    border: 2px solid red;

}
.slow {
    background: url('img/light2.png');
    background-size: 81px 81px;
    border: 2px solid rgb(226, 226, 1);
}
.go {
    background: url('img/light3.png');
    background-size: 81px 81px;
    border: 2px solid green;
}

.on {opacity: 1;}

body {
    background-color : black;
    text-align: center;
    font-family: Helvetica;
}

.startLight {
    background: url('img/startlightbase.png') center no-repeat;
    height: 140px;
}

.startLight >div {
    display: flex;
    justify-content: center;
}

.pos {
    padding: 9px;
    margin-top: 8px;
    
}

