

canvas{
    background: url('img/roadTexture.jpg') center left repeat-x;
    height: 100%;
    width: 100%;
    /* border-right: dashed 100px white; */
    box-sizing: border-box; 
    margin: 30px 0; 
    border: 2px solid red;

}


nav{
    background: url('./img/tijolo.png');

}



/* MODAL================================== */
.modal-title {
  font-family: 'Racing Sans One', cursive;
  letter-spacing:1.5px;
}

/* div{border: 1px solid red;} */

body > img{
  z-index: -1;
  position: absolute;
  left: 0px;
  height: 765px;
  width: 100%;
}

.text-boxes{
    font-family: 'Racing Sans One', cursive;
    color: whitesmoke;
    letter-spacing:1.5px;
    text-align: center;
    list-style-type: none;
}

.box-one {
  font-size: 30px;
  margin-top: 25px;
}

.box-two{
  font-size: 20px;
  margin-top: 20px;
}


.footer{
  width:42px;
  height:12px;
  border:0;
  float: right;
  margin: 0 20px 20px;
}

.footer > a {
  border: 1px solid red;
}
/* STARTLIGHT =========================================*/

.light {
    height: 85px;
    width : 85px;
    border-radius: 50%;
    opacity : 0.3;
}

.stop {
    background: url('img/light1.png');
    background-size: 81px 81px;
    border: 2px solid red;

}
.slow {
    background: url('img/light2.png');
    background-size: 81px 81px;
    border: 2px solid rgb(226, 226, 1);
}
.go {
    background: url('img/light3.png');
    background-size: 81px 81px;
    border: 2px solid green;
}

.on {opacity: 1;}

body {
  background: rgb(0, 0, 0);
  text-align: center;
}

.startLight {
    background: url('img/startlightbase.png') center no-repeat;
    height: 140px;
}

.startLight >div {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.pos {
    padding: 9px;
    
}

.margin-1{    margin-top: 18px;
  margin-left: 2px;
}

.margin-2{margin-top: 19px;
margin-left: 3px;

}
.margin-3{margin-top: 19px; margin-left: 2px;}


.wallcarbon {
  background: url ('img/Carbon.jpg');
  height: 50px;
}

/* FONT LOGO============================== */


  
  .container-name {
    display: flex;
    align-content: flex-start;
    text-align: center;
    vertical-align: middle;
  }
  
  .neon {
    font-family: 'Racing Sans One', cursive;;
    color: #FB4264;
    font-size: 35px;
    line-height: 35px;
    text-shadow: 0 0 8px #F40A35;
    
    
}

.flux {
    font-family: 'Racing Sans One', cursive;;
    color: #426DFB;
    font-size: 50px;
    line-height: 50px;
    text-shadow: 0 0 5px #2356FF;
    margin-top: 10px;
  }
  
  /* .neon {
    animation: neon 10s ease infinite;
  } */
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
  .flux {
    animation: flux 5s linear infinite;
  }
  
  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }
  